#filter{
    background-color: #95d3a5;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px 20px;
    border: #3d8d52 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_choice{
    padding: 5px;
}

#filter label{
    font-weight: bold;
    padding: 5px;
}

#filter select{
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#filter option:focus {
    border: none;
}

#filter select:hover{
    background-color: rgb(235, 235, 235);
    padding: 5px;

}
