
.couleur_c0cfb2{
    background-color: #c0cfb2;
    border: 2px solid #839b6d;
}
#contain_icones{
    max-width: 100%;
    justify-content: space-around;
    display: flex;
}

.icone_menu{
    border-radius: 1%;
    padding: 10% 15% 10% 15%;
    margin: 2%;
}
#icone_connexion{
    display: flex;
    flex-direction: row;
}

#icone_connexion > div{
    background-color:#547a30;
    width: fit-content;
    height: fit-content;
    padding: 10%;
    border: 1px solid black;
}

#icone_connexion > div:hover{
    background-color: #22c265;
}

#icone_liste{
    background-image: url("./images/romarinClair.png");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#icone_liste:hover{
    background-image: url("./images/romarinFoncé.jpg");
}

#icone_liste > div{
    color: white;
    font-size: xx-large;
    text-align: center;
}