
.couleur_c0cfb2{
    background-color: #c0cfb2;
    border: 2px solid #839b6d;
}
#contain_icones{
    max-width: 100%;
    justify-content: space-around;
    display: flex;
}

.icone_menu{
    border-radius: 1%;
    padding: 10% 15% 10% 15%;
    margin: 2%;
}

/*--------------Symptom list----------*/
#icone_liste{
    background-image: url("./images/romarinClair.png");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#icone_liste:hover{
    background-image: url("./images/romarin.jpg");
}

#icone_liste > div{
    color: white;
    font-size: xx-large;
    text-align: center;
}

 /*----------Image SignIn et SignUp--------------*/
 #icone_connexion{
    display: flex;
    flex-direction: row;
    background-image: url("./images/sign.png");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
 .noircissement:hover{
    background-image: url("./images/romarin.jpg");
 }


#icone_sign{
    display:grid;
    grid-template-columns: 50% 50%;
}
#signIn{
    grid-column: 1;
    color: white;
    font-size: xx-large;
    text-align: center;
    float: right;
}
#signUp{
    grid-column: 2;
    color: white;
    font-size: xx-large;
    text-align: center;
   float: left;
}

