
.couleur_c0cfb2{
    background-color: #c0cfb2;
    border: 2px solid #839b6d;
}
#contain_icones{
    max-width: 100%;
    justify-content: space-around;
    display: flex;
}

.icone_menu{
    border-radius: 1%;
    padding: 10% 15% 10% 15%;
    margin: 2%;
}
#icone_connexion{
    display: flex;
    flex-direction: row;
}

#icone_liste{
    background-image: url("./images/romarin.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}


