#filter{
    background-color: #768981;
    color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 10px 20px;
    border: #3d8d52 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border : solid 3px #543739;*/
}

.filter_choice{
    padding: 5px;
    margin: 5px 10px;
}

#filter label{
    font-weight: bold;
    padding: 5px;
}

#filter select{
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#filter option:focus {
    border: none;
}

#filter select:hover{
    background-color: rgb(235, 235, 235);
    padding: 5px;

}

/* =============================liste================================================= */

#container_liste_symptome{
    background-color: #375452;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    text-decoration: none;
    font-family: system-ui;
    color: white;
    text-align: center;
    margin: 5px 50px;
    border:#3d8d52 solid 1px;
}

#container_liste_symptome div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px black solid;

}

#container_liste_symptome div:nth-last-child(-n+8){
    border-bottom: black solid 1px;
}


#container_liste_symptome div:nth-last-child(-n+4){
    border-right: none;
}

#container_liste_symptome div:nth-last-child(-4n+5){
    border-bottom: none;
}

#container_liste_symptome div p{
    width: 100%;
    word-wrap: break-word;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0;
}

#container_liste_symptome:hover{
    transition: 0.5s;
    border: 1px solid #365f41;
    box-shadow: 0px 0px 5px black,inset 0px 0px 5px black;
    background-color: #365f41;
}